# project
.git
.idea
.vscode
.DS_Store
.dccache
# node-modules
node_modules
server/node_modules
client/node_modules
# builds
build
dist
server/dist
server/uploader.sqlite
# test coverage
server/coverage
client/coverage
coverage
.npmrc
